<h1>Course Details Form</h1>

<form #cForm="ngForm" (ngSubmit)="addCourseDetails()">

    Course Name:
    <input name="courseName" class="form-control" type="text" [(ngModel)]="c.courseName" required> <br>

    Course Price:
    <input type="text" name="coursePrice" class="form-control" [(ngModel)]="c.coursePrice" required> <br>

    Course Duration:
    <input type="text" name="courseDuration" class="form-control" [(ngModel)]="c.courseDuration" required> <br>

    <button type="submit" value="Submit Data"> Add Course </button>

</form>

<br>
<hr>
<div>

    <button type="button" (click)="viewAllCourses()"> View Courses</button>

    <div *ngFor="let c of courses">
        {{c.id}}-->{{c.courseName}}-->{{c.coursePrice}}-->{{c.courseDuration}}--> 
        <button type="button" (click)="deleteCourse(c.id)"> Delete </button> <br>
    </div>

</div>
